server:
  port: 8080
  servlet:
    context-path: /shopapp

spring:
  application:
    name: shopapp
  datasource:
    url: "jdbc:mysql://localhost:3306/shopapp"
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  api-docs:
    path: /v3/api-docs
  show-actuator: false

jwt:
  signerKey: "8axEpzjNZFefaBJPt0gn4cxaESdRk3fPangsmk3c+77S2iT1czzbaPWoJ2lJ7qlJ"
  valid-duration: 3600 # in sencond
  refreshable-duration: 36000 # in second